---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Header from "@components/Header.astro";

import CalendarIcon from "@public/icons/calendar.svg";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";

import "@styles/blog_index.css";
const all = await getCollection("blog");
const posts = all.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <div class="flex w-full items-center justify-between">
    <h1>All posts</h1>
    <a href="/blog/areas">
      <button
        class="h-fit cursor-pointer rounded-xl bg-gray-200 p-2 text-xs text-gray-500 transition-all hover:bg-gray-300"
        >Categories ></button
      >
    </a>
  </div>
  <div class="mt-5">
    <span class="text-sm text-gray-400">LATEST</span>
    <ul>
      {
        posts.map((post) => (
          <li class="p-4 transition-all hover:shadow">
            <a href={`/blog/${post.id}/`} class="flex items-center gap-7 py-10">
              <Image
                width={150}
                height={100}
                src={post.data.heroImage || "/favicon.png"}
                alt={post.id}
              />
              <div class="flex flex-col">
                <h3 class="hover:text-accent mb-4 text-gray-700!">
                  {post.data.title}
                </h3>
                <div class="mb-2 flex gap-2 text-[13px]">
                  <CalendarIcon fill="gray" height={20} />
                  <FormattedDate date={post.data.pubDate} />
                </div>
                <p class="text-[15px] text-gray-500">
                  {post.data.description.slice(0, 70)}...
                </p>
              </div>
            </a>
          </li>
            <hr />
        ))
      }
    </ul>
  </div>
</BaseLayout>
