---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";
import CalendarIcon from "../../../../public/icons/calendar.svg";
import PostListLayout from "../../../layouts/PostListLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const areas = Array.from(new Set(posts.map((p) => p.id.split("/")[0])));
  return areas.map((a) => ({ params: { area: a } }));
}

const { area } = Astro.params;
const all = await getCollection("blog");
const posts = all
  .filter((p) => p.id.startsWith(`${area}/`))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const areaLabel = area
  ? `${area[0].toUpperCase()}${area.slice(1)}`
  : "Category";

---

<PostListLayout
  title={`Category | ${areaLabel}`}
  description={SITE_DESCRIPTION}
>
  <div class="mt-5">
    <span class="text-gray-400 text-sm">LATEST</span>
    <ul>
      {
        posts.map((post) => (
          <li class="p-4 transition-all hover:shadow">
            <a
              href={`/blog/${post.id}/`}
              class="flex flex-col md:flex-row items-center gap-7 py-10"
            >
              <Image
                width={150}
                height={100}
                src={post.data.heroImage || "/favicon.png"}
                alt={post.id}
              />
              <div class="flex flex-col">
                <h3 class="hover:text-accent mb-4 text-gray-700!">
                  {post.data.title}
                </h3>
                <div class="text-[13px] flex gap-2 mb-2">
                  <CalendarIcon fill="gray" height={20} />
                  <FormattedDate date={post.data.pubDate} />
                </div>
                <p class="text-gray-500 text-[15px]">
                  {post.data.description.slice(0, 70)}...
                </p>
              </div>
            </a>
          </li>
          <hr />
        ))
      }
    </ul>
  </div>
</PostListLayout>
