---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import CalendarIcon from "@public/icons/calendar.svg";
import BaseLayout from "./BaseLayout.astro";

import "../styles/post.css";
type Props = CollectionEntry<"blog">["data"] & { ogImage?: string };

const { title, description, pubDate, updatedDate, heroImage, ogImage } = Astro.props as Props;
---

<BaseLayout
  title={title}
  description={description}
  image={ogImage ? { src: ogImage, width: 1200, height: 630, format: "png" } : undefined}
>
  <article>
    <div class="flex justify-center">
      {heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date flex items-center justify-center gap-2">
          <CalendarIcon fill="gray" height={20} />
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="text-[1.5rem]! md:text-[2rem]!">{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
    <div class="mt-24" id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://so0github-blog-1.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the <a
        href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a
      ></noscript
    >
  </article>
  <script
    is:inline
    id="dsq-count-scr"
    src="//so0github-blog-1.disqus.com/count.js"
    async></script>
</BaseLayout>
