---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";


export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const areas = Array.from(
        new Set(
            posts
                .map((p) => p.id.startsWith('blog/') ? p.id.split('/')[1] : null)
                .filter(Boolean)
        )
    );

    return areas.map((a) => ({ params: { area: a } }));
}

const { area } = Astro.params;
const all = await getCollection('blog');
const posts = all
    .filter((p) => p.id.startsWith(`blog/${area}/`))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
import '@styles/category.css'
---

<BaseLayout title={`${SITE_TITLE} — ${area}`} description={SITE_DESCRIPTION}>

    <h1>{area}</h1>
    <ul>
        {posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>
                        {post.data.heroImage && (
                                <Image width={720} height={360} src={post.data.heroImage} alt="" />
                        )}
                        <h4 class="title">{post.data.title}</h4>
                        <p class="date"><FormattedDate date={post.data.pubDate} /></p>
                    </a>
                </li>
        ))}
    </ul>

</BaseLayout>


